<div class="race-ability-tab-mechanics">
    {{!-- Características --}}
    <div class="mechanics">
        {{!-- Usos Diários --}}
        <div class="daily-uses">
            <label class="font-bold">{{localize "olddragon2e.race_ability.daily_uses"}}</label>
            <input name="system.daily_uses" type="text" value="{{system.daily_uses}}" data-dtype="Number">
        </div>
        {{!-- Armadura Natural --}}
        <div class="natural-armor">
            <label class="font-bold" title="Substitui a CA base">{{localize "olddragon2e.race_ability.natural_armor"}}&nbsp;<i class="fa-solid fa-circle-info"></i></label>
            <input name="system.natural_armor" type="number" value="{{system.natural_armor}}" data-dtype="Number">
        </div>
        {{!-- Modificador de Carga --}}
        <div class="load-modifier">
            <label class="font-bold" title="Bônus no valor de Carga Máxima">{{localize "olddragon2e.race_ability.load_modifier"}}&nbsp;<i class="fa-solid fa-circle-info"></i></label>
            <input name="system.load_modifier" type="number" value="{{system.load_modifier}}" data-dtype="Number">
        </div>
        {{!-- Sobrescrever Carga --}}
        <div class="max-load-override">
            <label class="font-bold" title="Substitui o valor de Carga Máxima">{{localize "olddragon2e.race_ability.max_load_override"}}&nbsp;<i class="fa-solid fa-circle-info"></i></label>
            <input name="system.max_load_override" type="number" value="{{system.max_load_override}}" data-dtype="Number">
        </div>
        {{!-- Bônus de Jogada de Proteção --}}
        <div class="jp">
            <div><strong>{{localize "olddragon2e.race_ability.bonus_jp"}}</strong></div>
            <div class="jp-values">
                <div class="jp-value">
                    <label class="font-bold">{{localize "olddragon2e.jpd_short"}}</label>
                    <input name="system.jp.jpd" type="checkbox" {{checked system.jp.jpd}}>
                </div>
                <div class="jp-value">
                    <label class="font-bold">{{localize "olddragon2e.jpc_short"}}</label>
                    <input name="system.jp.jpc" type="checkbox" {{checked system.jp.jpc}}>
                </div>
                <div class="jp-value">
                    <label class="font-bold">{{localize "olddragon2e.jps_short"}}</label>
                    <input name="system.jp.jps" type="checkbox" {{checked system.jp.jps}}>
                </div>
            </div>
        </div>
        {{!-- Bônus em Talentos de Ladrão --}}
        <div class="rogue-talent">
            <label class="font-bold">{{localize "olddragon2e.race_ability.rogue_talent_bonus"}}</label>
            <div class="rogue-talent-selectors">
                <div>
                    <label class="font-bold">1&#41;</label>
                    <select name="system.rogue_talent">
                        {{selectOptions config.rogue_talents selected=system.rogue_talent localize=true}}
                    </select>
                </div>
                <div>
                    <label class="font-bold">2&#41;</label>
                    <select name="system.rogue_talent_2">
                        {{selectOptions config.rogue_talents selected=system.rogue_talent_2 localize=true}}
                    </select>
                </div>
            </div>
        </div>
        {{!-- Bônus no Dano com Arco --}}
        <div class="checkbox">
            <label class="font-bold">{{localize "olddragon2e.race_ability.bonus_damage"}}</label>
            <input name="system.bonus_damage_archery" type="checkbox" {{checked system.bonus_damage_archery}}>
        </div>
        {{!-- % de Bônus na XP --}}
        <div class="xp">
            <label class="font-bold">{{localize "olddragon2e.race_ability.bonus_xp"}}</label>
            <input name="system.xp" type="text" value="{{system.xp}}" data-dtype="Number">
        </div>
    </div>
</div>